.list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.list > li {
  width: calc((100% - 20px) / 3);
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.list > li:nth-child(3n) {
  margin-right: 0;
}

.list > li:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
