.video-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 30px;
}

.video-list > li {
  width: calc((100% - 20px) / 3);
  margin-right: 10px;
  margin-bottom: 10px;
}

.video-list > li:nth-child(3n) {
  margin-right: 0;
}

.video-list > li:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
