.header {
  border-bottom: 1px solid #efefef;
}

.link-logo {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 15px;
}

.logo {
  width: 45px;
  margin-right: 5px;
}

.name {
}
