.additionalDetails {
  position: absolute;
  bottom: 5px;
  right: 80px;
}

.detailsItem {
  margin-bottom: 30px;
  font-size: 12px;
}

.iconBorder {
  background-color: #ecebeb;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  align-content: center;
}

.iconBorder > span {
  font-weight: bold;
}

.iconLink {
  display: block;
  padding: 10px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.icon {
  width: 25px;
  height: 25px;
  fill: #212121;
}

.iconLink:hover {
  cursor: pointer;
}
